<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <script src="{% static 'js/jquery-3.4.1.js' %}" type="text/javascript"></script>

    <title>
    {% block title_paper %}
    {% endblock %}
    </title>
    {% block content_script %}
    {% endblock %}
  </head>
  <body>
    <img class="fon" src="/static/image/fon.jpg">
    <img class="fon_1" src="/static/image/003.png">
    <div class="body_site">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
